<mat-toolbar color="primary" class="mat-elevation-z6 Header">
    <span><mat-icon class="icono">face</mat-icon>learning is fun</span>

    <div class="spacer"></div>

    <a mat-raised-button routerLink="" color='accent'>Home</a>
    <a mat-button routerLink="registerUser" *ngIf='!_userService.loggedIn()'>Register User</a>
    <a mat-button routerLink="listPoster"*ngIf='_userService.loggedIn()'>List Post</a>
    <a mat-button routerLink="registerPost"*ngIf='_userService.loggedIn()'>Register Post</a>
    <a mat-button routerLink="login"*ngIf='!_userService.loggedIn()'>Login User</a>
    <a mat-button routerLink="registerClassRoom" *ngIf='_userService.loggedIn()' (click)='_userService.logout()'>Logout</a>
</mat-toolbar>