<mat-toolbar color="primary" class="mat-elevation-z6 Header">
    <span><mat-icon class="icono">face</mat-icon>learning is fun</span>

    <div class="spacer"></div>

    <a mat-raised-button routerLink="" color='accent'>Home</a>
    <a mat-button routerLink="registerStudent">Register Student</a>
    <a mat-button routerLink="registerTutor">Register Proffesor</a>
    <a mat-button routerLink="registerClases">Register Courses</a>
    <a mat-button routerLink="registerClassRoom">Register ClassRoom</a>
</mat-toolbar>